form {
  padding: 15% 30% 10% 30%;
}

.form-group {
  margin-bottom: 20px;
}

.ng.valid[required], ng-valid.required {
  border-left: 5px solid #42A948;
  }

  .ng.invalid[required], ng-invalid.required {
    border-left: 5px solid #a94442;
    }
